[user]
	useConfigOnly = true
[init]
	defaultBranch = main
[core]
	autocrlf = input
	editor = vim
	excludesfile = $HOME/.gitignore
[alias]
	deinit = submodule deinit -f .
	subinit = submodule update --init
	squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
[credential]
	helper = cache
